.introduceCarousel {
  display: flex;
  width: 100%;

  .dot-list-intro {
    position: absolute;
    width: 90vw;
    left: 50%;
    margin-left: -45vw;
  }

  .dot,
  .swiper-pagination-bullet {
    background: #ddd;
    border: 0;
    border-radius: 50rem;
    display: block;
    height: 9px;
    margin: 0 5px;
    padding: 0;
    transition: all 0.2s linear;
    user-select: none;
    width: 9px;
    cursor: pointer;

    &-list {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &-active {
      background: #f24c00;
      width: 32px;
    }
  }
}
